html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

@font-face {
    font-family: "LeagueGothic";
    src: url("./font/LeagueGothic/LeagueGothicRegular.woff") format("woff"),
         url("./font/LeagueGothic/LeagueGothicRegular.ttf") format("ttf");
      
        
}

body{
    font-family: "LeagueGothic";
}

.header{
    
    width: 100%;
    height: 100vh;
    
}
.header_background{
    background-image: url(./img/bcg.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}


.header .nav{
    width: 80%;
    margin: auto;
    padding-top: 75px;
}

.header .nav .nav_bar{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav .nav_bar .logo_block p{
    text-transform: uppercase;
    color: white;
    font-size: xx-large;
    

}

.nav .nav_bar .logo_block p span{
    color: blueviolet;
}

.nav .nav_bar .nav_bar_menu ul{
    display: flex;
    justify-content: space-between;
    

}

.nav .nav_bar .nav_bar_menu ul li{
    margin-left: 25px;
    list-style-type: none;
    text-shadow: 3px 3px 3px #333333;
    padding: 3px;
    font-size: x-large;
    border-bottom: solid 2px transparent;
    
}

.nav .nav_bar .nav_bar_menu ul a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
       
}

.nav .nav_bar .nav_bar_menu ul li:hover{
    border-bottom: solid 2px rgba(245, 153, 248, 0.678);
}

/* Начало стилизации слайдера */

.slider_content{
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    margin-top: 25px;
    
}



.slider_content .container{
    width: 60%;
    margin: auto;
}

.bx-wrapper{
    background: transparent !important;
    padding: 50px 0 !important;
    margin: 0 !important;
    border: none !important;
    box-shadow: none !important;
 
}


.slider_content .container .slider_first_page{
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    
    
}

.slider_content .container .slider_first_page h1{
    text-transform: capitalize;
    color: white;
    font-size: 40px;
    font-weight: bolder;
    
    margin: auto;
}
.slider_content .container .slider_first_page h2{
    color:rgba(245, 153, 248) ;
    text-transform: capitalize;
    font-size: 30px;
    font-weight: bolder;
}

.slider_content .container .slider_first_page p{
    color: white;
}



.slider_content .container .slider_first_page .text_right{
    width: 40%;
    /* margin: auto; */
}

.slider_content .container .slider_first_page .video_left{
    width: 40%;
    /* margin: auto; */
}
.slider_content .container .slider_first_page .video_left video{
    width: 100%;
}

/* Конец стилизации слайдера */

/* Начало стилизации текста под слайдером */

.header_content_block{
    background: linear-gradient(rgb(128, 6, 121), rgb(49, 4, 46));
}

.header_content_container{
    width: 80%;
    margin: auto;
    margin-top: 50px;
    padding:  50px 0;
    display: flex;
    justify-content: space-around;
}

.header_content_block .header_content_container .content_text{
    width: 19%;
    display: flex;
    flex-direction: column;
}

.header_content_block .header_content_container .content_text .test{
    display: flex;
    align-items: center;
}

.header_content_block .header_content_container .content_text svg{
    fill: white;
}


.header_content_block .header_content_container .content_text h3{
    color: whitesmoke;
    font-size: xx-large;
    text-transform: uppercase;
    padding-left: 9px;
}

.header_content_block .header_content_container .content_text .test_1{
    width: 80%;
    align-self: flex-end;
    justify-self: center;
}

.header_content_block .header_content_container .content_text p{
    color: white;
    line-height: 20px;
}
.header_content_block .header_content_container .content_text .test_2 a{
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    
}

.header_content_block .header_content_container .content_text .test_2{
    margin-top: 40px;
    align-self: flex-end;
        
}
/* конец стилизации текста под слайдером */

/* начало блока со вторым слайдером (дядя_слайдер) */
.second_slider_container{
    width: 100%;
    background-color: rgb(251, 251, 251);
    border-bottom: solid 1px lightgray;
}

.second_slider_container_content{
    width: 70%;
    margin: auto;
    padding-top: 50px;
    display: flex;
    
}
.second_slider_container_content_right{
    width: 35%;
    margin: auto;
    

}


.second_slider_container_content_right h3{
    text-transform: uppercase;
    padding: 10px;
    font-size: x-large;

}



.second_slider_container_content_right_list table td{
    text-align: start;
    vertical-align: middle;
    padding: 10px;
    line-height: 20px;
}

.second_slider_container_content_right_list table td span{
    color: grey;
}


.second_slider_container_content_left{
    width: 35%;
    margin: auto;
}

.second_slider_container_content_left .slider_1 h3{
    text-transform: uppercase;
    font-size: larger;
}

.second_slider_container_content_left .slider_1 h3 span{
    color:rgba(245, 153, 248) ;
}
.second_slider_container_content_left .bx-viewport{
    width: 90% !important;
    background: white !important;
    /* padding: 20px; */
    
    

}



.slider_1_page_1{
    position: relative;
}

.second_slider_container_content_left .slider_1_page_1::before{
    content: '';
    background: url(./img/user.jpg);
    width: 49px;
    height: 51px;
    position: absolute;
    top: 0;
    left: -30px;
    z-index: 3;
}



/* конец блока со вторым слайдером (дядя_слайдер) */

/* начало блока карусели с логотипами в ряд */

.logo_list_container{
    padding: 50px 0;
    background-color: rgb(251, 251, 251);
}
.logo_slider{
    width: 60%;
    margin: auto;  
}


.slider_2 .test3{
    display: flex;
}

/* конец блока карусели с логотипами в ряд */

/* начало стилизации футера */
.footer_container{
    width: 100%;
    background-color: rgb(238, 238, 238);
}

/* начало стилизации футера с текстовым контентом */

.footer_container_text_content{
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 25px 0;
}

.footer_container_text_content_block_1{
    width: 22%;
    

}

.footer_container_text_content_block_1 h2{
    text-transform: uppercase;
    font-size: 50px;

}

.footer_container_text_content_block_1 h2 span{
    color: lightgray;
}

.footer_container_text_content_block_1 p{
    line-height: 20px;
    font-weight: 100;
    color: gray;
}
.footer_container_text_content_block_1 p span{
    font-style: italic;
    font-weight: 100;
    color: gray ;
}

.footer_container_text_content_block_2{
    width: 25%;
    
}

.footer_container_text_content_block_2 h2{
    text-transform: uppercase;
    
    font-size: 40px;
}
.footer_container_text_content_block_2 p {
    line-height: 20px;
    font-weight: 100;
    color: gray;
    
}

/* конец стилизации футера с текстовым контентом */

/* начало стилизации футера с меню */

.footer_container_menu{
    width: 100%;
    background: url(./img/bg-footer.jpg);
    padding: 30px 0;
}

.footer_container_menu_block{
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.footer_container_menu_list ul li{
    display:inline-block;
    color: white;
    text-transform: uppercase;
    font-size: large;
    padding-right: 70px;
}

.footer_container_menu_list ul li a{
    text-decoration: none;
    color: white;
}

.footer_container_menu_creator p{
    color: white;
    font-weight: 100;
}

.footer_container_menu_creator p span{
    font-weight: 800;
}

/* конец стилизации футера с меню */