html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

@font-face {
    font-family: "LeagueGothic";
    src: url("./font/LeagueGothic/LeagueGothicRegular.woff") format("woff"),
         url("./font/LeagueGothic/LeagueGothicRegular.ttf") format("ttf");
      
        
}

body{
    font-family: "LeagueGothic";
}

.vh100_block{
    
    width: 100%;
    height: 100vh;
    
}
.header_background{
    background-image: url(./img/bcg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  

}


.header_background .nav{
    width: 80%;
    margin: auto;
    padding-top: 75px;
}

.header_background .nav .nav_bar{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav .nav_bar .logo_block p{
    text-transform: uppercase;
    color: white;
    font-size: xx-large;
    

}

.nav .nav_bar .logo_block p span{
    color: blueviolet;
}

.nav .nav_bar .nav_bar_menu ul{
    display: flex;
    justify-content: space-between;
    

}

.nav .nav_bar .nav_bar_menu ul li{
    margin-left: 25px;
    list-style-type: none;
    text-shadow: 3px 3px 3px #333333;
    padding: 3px;
    font-size: x-large;
    border-bottom: solid 2px transparent;
    
}

.nav .nav_bar .nav_bar_menu ul a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
       
}

.nav .nav_bar .nav_bar_menu ul li:active{
    border-bottom: solid 2px rgba(245, 153, 248, 0.678);
}

/* Начало стилизации слайдера */

.slider_content{
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    margin-top: 25px;
}



.slider_content .container{
    width: 60%;
    margin: auto;
}

.bx-wrapper{
    background: transparent !important;
    padding: 50px 0 !important;
    margin: 0 !important;
    border: none !important;
    box-shadow: none !important;
 
}


.slider_content .container .slider_first_page{
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    
    
}

.slider_content .container .slider_first_page h1{
    text-transform: capitalize;
    color: white;
    font-size: 40px;
    font-weight: bolder;
    
    margin: auto;
}
.slider_content .container .slider_first_page h2{
    color:rgba(245, 153, 248) ;
    text-transform: capitalize;
    font-size: 40px;
    font-weight: bolder;
}

.slider_content .container .slider_first_page p{
    color: white;
    font-size: 20px;
}



.slider_content .container .slider_first_page .text_right{
    width: 40%;
    /* margin: auto; */
}

.slider_content .container .slider_first_page .video_left{
    width: 40%;
    /* margin: auto; */
}
.slider_content .container .slider_first_page .video_left video{
    width: 100%;
}




.bx-pager{
    bottom: -30px!important;
}

/* Конец стилизации слайдера */

.header_bottom{
    height: 50px;
}

/* Начало стилизации текста под слайдером */

.content_block{
    background: linear-gradient(rgb(128, 6, 121), rgb(49, 4, 46));
}

.content_block .content_container{
    width: 80%;
    margin: auto;
    /* margin-top: 50px; */
    padding:  20px 0;
    display: flex;
    justify-content: space-around;
}

.content_block .content_container .content_text{
    width: 19%;
    display: flex;
    flex-direction: column;
}

.content_block .content_container .content_text .content_text_icon{
    display: flex;
    align-items: center;
}

.content_block .content_container .content_text_icon svg{
    fill: white;
}


.content_block .content_container .content_text h3{
    color: whitesmoke;
    font-size: xx-large;
    text-transform: uppercase;
    padding-left: 9px;
}

.content_block .content_container .content_text .content_text_about{
    width: 80%;
    align-self: flex-end;
    justify-self: center;
}

.content_block .content_container .content_text p{
    color: white;
    line-height: 20px;
}
.content_block .content_container .content_text .content_text_read_more a{
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    
}

.content_block .content_container .content_text .content_text_read_more{
    margin-top: 40px;
    align-self: flex-end;
        
}
/* конец стилизации текста под слайдером */

/* начало блока со вторым слайдером (дядя_слайдер) */
.second_slider_container{
    width: 100%;
    background-color: rgb(251, 251, 251);
    border-bottom: solid 1px lightgray;
}

.second_slider_container_content{
    width: 70%;
    margin: auto;
    padding-top: 50px;
    display: flex;
    
}
.second_slider_container_content_right{
    width: 35%;
    margin: auto;
    

}


.second_slider_container_content_right h3{
    text-transform: uppercase;
    padding: 10px;
    font-size: x-large;

}



.second_slider_container_content_right_list table td{
    text-align: start;
    vertical-align: middle;
    padding: 10px;
    line-height: 20px;
}

.second_slider_container_content_right_list table td span{
    color: grey;
}


.second_slider_container_content_left{
    width: 35%;
    margin: auto;
}

.second_slider_container_content_left .slider_carousel .slider_carousel_page h3{
    text-transform: uppercase;
    font-size: larger;
}

.second_slider_container_content_left .slider_carousel .slider_carousel_page h3 span{
    color:rgba(245, 153, 248) ;
}
.second_slider_container_content_left .bx-viewport{
    width: 90% !important;
    background: white !important;
    /* padding: 20px; */
      
}

.slider_carousel_page{
    width: 100%;
    position: relative;
    
}

.second_slider_container_content_left .slider_carousel_page::before{
    content: '';
    background: url(./img/user.jpg);
    width: 49px;
    height: 51px;
    position: absolute;
    top: 0;
    left: -40px;
    z-index: 3;
   
}

.slider_carousel_content{
    padding: 45px;
    /* background: green; */
    position: relative;
    
}

.slider_carousel_content::after {
    content: '';
    position: absolute;
    right: 30px;
    bottom: -30px;
    border: 20px solid transparent;
    border-top: 20px solid rgb(128, 0, 75);
    
}




/* конец блока со вторым слайдером (дядя_слайдер) */

/* начало блока карусели с логотипами в ряд */

.logo_list_container{
    padding: 50px 0;
    background-color: rgb(251, 251, 251);
}
.logo_slider{
    width: 60%;
    margin: auto;  
}

.logo_list_container .bx-wrapper{
    width: 100% !important;
    margin: auto !important;
    vertical-align: middle !important;
    
}

.logo_list_container  .slider_2 {
    display: flex;
    align-items: center;
}


/* конец блока карусели с логотипами в ряд */

/* начало стилизации второго блока с текстом */
.container_text_second{
    width: 100%;
    background-color: rgb(238, 238, 238);
}

/* начало стилизации второго блока с текстовым контентом */

.container_text_2_content{
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 25px 0;
}

.container_text_2_content_block{
    width: 22%;
    
}

.container_text_2_content .block_1  h2{
    text-transform: uppercase;
    font-size: 50px;

}

.container_text_2_content .block_1 h2 span{
    color: lightgray;
}

.container_text_2_content_block p{
    line-height: 20px;
    font-weight: 100;
    color: gray;
}
.container_text_2_content .block_1 p span{
    font-style: italic;
    font-weight: 100;
    color: gray ;
}

.container_text_2_content .block_2 h2{
    text-transform: uppercase;
    font-size: 40px;
}

/* конец стилизации второго блока с текстовым контентом */

/* начало стилизации футера с меню */

.footer_container_menu{
    width: 100%;
    background: url(./img/bg-footer.jpg);
    padding: 30px 0;
}

.footer_container_menu_block{
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.footer_container_menu_list ul li{
    display:inline-block;
    color: white;
    text-transform: uppercase;
    font-size: large;
    padding-right: 70px;
}

.footer_container_menu_list ul li a{
    text-decoration: none;
    color: white;
}

.footer_container_menu_creator p{
    color: white;
    font-weight: 100;
}

.footer_container_menu_creator p span{
    font-weight: 800;
}

/* конец стилизации футера с меню */

/* стилизация бургера */
#menu__toggle {
    opacity: 0;

}

#menu__toggle:checked~.menu__btn>span {
    transform: rotate(45deg);
}

#menu__toggle:checked~.menu__btn>span::before {
    top: 0;
    transform: rotate(0);
}

#menu__toggle:checked~.menu__btn>span::after {
    top: 0;
    transform: rotate(90deg);
}

#menu__toggle:checked~.menu__box {
    visibility: visible;
    left: 0;
}

.menu__btn {
    display: flex;
    align-items: center;
    position: fixed;
    top: 50px;
    right: 50px;
    width: 26px;
    height: 26px;

    cursor: pointer;
    z-index: 1;
}

.menu__btn>span,
.menu__btn>span::before,
.menu__btn>span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: white;
    transition-duration: .25s;
    opacity: 0;
}

.menu__btn>span::before {
    content: '';
    top: -8px;
}

.menu__btn>span::after {
    content: '';
    top: 8px;
}

.menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
    text-transform: uppercase;
    

    width: 300px;
    height: 100%;

    margin: 0;
    padding: 80px 0;

    list-style: none;

    background-color: rgba(245, 240, 240, 0.96);
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);

    transition-duration: .25s;
    z-index: 50;
}

.menu__item {
    display: block;
    padding: 12px 24px;

    color: rgba(245, 153, 248);

    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;

    text-decoration: none;

    transition-duration: .25s;
}

.menu__item:hover {
    background-color: #CFD8DC;
}